@import "tailwindcss";
@import "tw-animate-css";

@font-face {
	font-family: "FCIconic";
	src: url("/fonts/FCIconic-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FCIconic";
	src: url("/fonts/FCIconic-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FCIconic-Wide";
	src: url("/fonts/FCIconicBoldWide.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondery: var(--secondery);
	--color-white: var(--white);
	--color-dark: var(--dark);
	--color-success: var(--success);
	--color-error: var(--error);
	--color-yellow: var(--yellow);
	--font-fciconic: "FcIconic", sans-serif;
	--font-fciconicBW: "FCIconic-Wide", sans-serif;
}

:root {
	--primary: #7800d2;
	--secondery: #e6007d;
	--white: #f6f7fc;
	--dark: #000000;
	--success: #2dcc1b;
	--error: #f04438;
	--yellow: #cca829;
}

body {
	font-family: "FCIconic";
	height: 100dvh;
}
